# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

rsource "drivers/sensor/adns7530/Kconfig"

config PAW3204
	bool "Bit Trade One ADTB7M PAW3204 Trackball Driver"
	default y
	select INPUT
	help
	  Enable Bit Trade One ADTB7M PAW3204 1u trackball sensor driver.

config KSCAN_KUGEL
	bool "Kugel-1 MCP23S17 Kscan driver"
	default y
	depends on SPI
	select KSCAN
	help
	  Enable custom kscan driver for Kugel-1 using 3x MCP23S17 with HAEN.

config KUGEL_INDICATOR
	bool "Kugel-1 PCB Status LED Indicator"
	default y
	help
	  Enable QMK-equivalent PCB LED status indicator on P0.08 (D100).

config ZMK_NON_LIPO_BATTERY_MANAGEMENT
	bool "Non-LiPo battery monitoring and management"
	default y
	depends on DT_HAS_ZMK_NON_LIPO_BATTERY_ENABLED
	select ADC 
	select ADC_NRFX_SAADC
	help
	  Enable support for non-LiPo batteries (such as alkaline or NiMH).

if ZMK_NON_LIPO_BATTERY_MANAGEMENT

config ZMK_NON_LIPO_MIN_MV
	int "Minimum voltage in millivolts"
	default 1100
	help
	  The minimum voltage level for the battery, corresponding to 0% charge.

config ZMK_NON_LIPO_MAX_MV
	int "Maximum voltage in millivolts"
	default 1300
	help
	  The maximum voltage level for the battery, corresponding to 100% charge.

config ZMK_NON_LIPO_LOW_MV
	int "Low battery threshold in millivolts"
	default 1050
	help
	  The voltage level at which the system will power off to prevent damage.

config ZMK_NON_LIPO_ADV_SLEEP_TIMEOUT
	int "Time in milliseconds after which the device will sleep during advertising"
	default 0
	help
	  If advertising continues for this duration, the device will enter sleep mode.
	  Set to 0 to disable this feature.

endif # ZMK_NON_LIPO_BATTERY_MANAGEMENT




