# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KUGEL

config ZMK_KEYBOARD_NAME
	default "Kugel-1"

config SPI
	default y

config KSCAN_KUGEL
	default y

config ADNS7530
	default y

config ZMK_POINTING
	default y

config INPUT
	default y

endif
