/*
 * Copyright (c) 2024 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/trackball.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define MOUSE   4
#define SNIPE   5
#define LAYER_6 6
#define LAYER_7 7

/ {
    // カスタム動作（ビヘイビア）の定義

    behaviors {
        // デフォルトのMod-Tap(&mt)の挙動を上書きし、QMK風の快適な設定に変更します

        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            // --- ここからがカスタマイズ項目です ---
            // タップとホールドを認識する時間。200msに設定。

            tapping-term-ms = <200>;

            // 'tap-preferred'フレーバーを選択。
            // これにより、高速でキーを連続入力（ローリング）した際に、
            // ホールド（モディファイア）が誤爆するのを防ぎます。
            // QMKの`IGNORE_MOD_TAP_INTERRUPT`に近い挙動です。

            flavor = "tap-preferred";

            // (オプション) この時間内の素早い連続タップは、強制的にタップとして扱います。
            // これにより、スペースキーやエンターキーの連続タップがより確実になります。

            quick-tap-ms = <150>;

            // --- ここまでがカスタマイズ項目です ---

            bindings = <&kp>, <&kp>;
        };
    };

    // 日本語入力のオンオフで、ChromeでAltキーが暴発するための対策マクロ

    macros {
        macro_alt_grave: macro_alt_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <5>;
            tap-ms = <5>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp LALT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_click {
            bindings = <&mkp MB1>;
            key-positions = <17 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
&mt LGUI ESC   &kp SINGLE_QUOTE        &kp COMMA  &lt 4 PERIOD     &kp P            &kp Y      &mkp MB1      &kp F  &kp G        &kp C  &kp R  &kp L      &kp SLASH
&mt LCTRL TAB  &kp A                   &kp O      &mt LCTRL E      &kp U            &kp I      &kp D         &kp H  &mt RCTRL T  &kp N  &kp S  &kp MINUS
&kp LSHFT      &kp SEMICOLON           &kp Q      &kp J            &kp K            &kp X      &kp B         &kp M  &kp W        &kp V  &kp Z
&mo 4          &mt LEFT_ALT BACKSPACE  &mo 1      &mt LSHFT SPACE  &mt RCTRL ENTER  &mo RAISE  &mt RALT TAB
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp ESC  &kp F1               &kp F2   &kp F3           &kp F4           &kp F5      &trans            &none     &kp HOME        &kp PAGE_DOWN  &kp PG_UP        &kp END  &trans
&trans   &kp F6               &kp F7   &kp F8           &kp F9           &kp F10     &macro_alt_grave  &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &trans
&trans   &kp F11              &kp F12  &kp PRINTSCREEN  &kp PAUSE_BREAK  &kp INSERT  &none             &none     &none           &none          &none
&trans   &mt LEFT_ALT DELETE  &trans   &trans           &trans           &mo ADJUST  &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&trans  &kp NUMBER_1  &kp N2  &kp NUMBER_3  &kp NUMBER_4  &kp N5   &trans            &kp NUMBER_6          &kp N7     &kp N8     &kp N9     &kp N0  &trans
&trans  &none         &none   &kp ESCAPE    &none         &kp TAB  &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp SLASH  &kp EQUAL  &kp MINUS  &trans
&trans  &none         &none   &none         &none         &none    &kp GRAVE         &kp NON_US_BACKSLASH  &none      &trans     &trans
&trans  &trans        &mo 3   &trans        &trans        &trans   &trans
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
&bootloader  &bt BT_SEL 0   &bt BT_SEL 1     &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4  &none       &bt BT_CLR    &none         &none       &none     &none  &bt BT_CLR_ALL
&none        &tb TB_AM_TOG  &tb TB_SCRL_TOG  &tb TB_ACCEL_TOG  &none         &none         &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &kp C_PP  &none
&none        &tb TB_SPD_DN  &tb TB_SPD_UP    &tb TB_SCRL_DN  &tb TB_SCRL_UP  &none         &none       &none         &none         &none       &none
&trans       &trans         &trans           &trans          &trans          &trans        &trans
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&trans  &trans  &mkp MB5  &trans  &mkp MCLK  &mkp MB4  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mkp MB2  &trans  &mkp MB1   &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans  &trans     &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &tb TB_SCRL_TOG   &trans     &trans    &trans  &trans
            >;
        };

        snipe_layer {
            display-name = "Snipe";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            display-name = "Layer 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            display-name = "Layer 7";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
